.hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
}

.hero-title {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    max-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}