.team {
    background-color: #f4f4fd;
    padding: 120px 156px;
}

.team-title {
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px ) / 4);
    border-radius: 0 0 4px 4px;
    text-align: center;
    padding-bottom: 32px;
}

.team-subtitle {
    margin-top: 32px;
    margin-bottom: 8px;
}